#terminal {
  background-color: #000;
  color: #ccc;
  font-family: Consolas;
  font-size: 18px;
  margin: -120px auto 0;
  height: 120px;
  position: absolute;
  bottom: 0;
  border: none;
  border-top: solid gray 3px;
  padding: 12px;
  width: 100%;
}
#terminal:focus,
#terminal:hover,
#terminal:active {
  border: 0;
  border-top: solid gray 3px;
  outline: 0px !important;
}
